Mnesia.*
erl_crash.dump

.idea/
*.iml

rebar3
_build
rebar.lock

package-lock.json

scripts/dpkg-deb/control
scripts/dpkg-deb/conffiles
node_modules/
priv/admin/jquery.min.js
priv/admin/angular-simple-logger.min.js
priv/admin/ng-google-chart.min.js
priv/admin/leaflet.js
priv/admin/leaflet.css
priv/admin/ui-leaflet.min.js
priv/admin/ng-admin.min.css
priv/admin/ng-admin.min.js
priv/admin/vis.min.css
priv/admin/vis.min.js
priv/admin/img/
priv/admin/angular-vis.js
priv/admin/bootstrap-colorpicker-module.min.js
priv/admin/colorpicker.min.css
priv/admin/*.gz
backup-*/*.json
log/
