[
% server configuration
{lorawan_server, [
    % default RX2 frequency, data rate and coding rate
    {rx2_rf, {869.525, <<"SF9BW125">>, <<"4/5">>}},
    % {rx2_rf, {434.665, <<"SF9BW125">>, <<"4/5">>}},
    % update this list to add/remove applications
    {plugins, [
        {<<"semtech-mote">>, lorawan_application_semtech_mote},
        {<<"microchip-mote">>, lorawan_application_microchip_mote},
        {<<"websocket">>, lorawan_application_websocket}]},
    % UDP port listening for packets from the packet_forwarder Gateway
    {forwarder_port, 1680},
    % HTTP port for web-administration and REST API
    {http_admin_port, 8080},
    % default username and password for the admin interface
    {http_admin_credentials, {<<"admin">>, <<"admin">>}}
]},
% error logging settings
{lager, [
    {colored, true},
    {handlers, [
        {lager_console_backend, debug}
    ]}
]}].
