[
% server configuration
{lorawan_server, [
    % update this list to add/remove applications
    {plugins, [
        {<<"semtech-mote">>, lorawan_application_semtech_mote},
        {<<"microchip-mote">>, lorawan_application_microchip_mote},
        {<<"connector">>, lorawan_application_connector},
        {<<"websocket">>, lorawan_application_websocket}]},
    % UDP port listening for packets from the packet_forwarder Gateway
    {forwarder_port, 1680},
    % HTTP port for web-administration and REST API
    {http_admin_port, 8080},
    % default username and password for the admin interface
    {http_admin_credentials, {<<"admin">>, <<"admin">>}},
    % websocket expiration if client sends no data
    {websocket_timeout, 3600000} % ms
]},
% error logging settings
{lager, [
    {colored, true},
    {handlers, [
        % {lager_console_backend, debug},
        {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
        {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
    ]}
]}].
