[
% server configuration
{lorawan_server, [
    % update this list to add/remove applications
    {plugins, [
        {<<"semtech-mote">>, lorawan_application_semtech_mote},
        {<<"microchip-mote">>, lorawan_application_microchip_mote},
        {<<"backend">>, lorawan_application_backend},
        {<<"websocket">>, lorawan_application_websocket}]},
    % UDP port listening for packets from the packet_forwarder Gateway
    {packet_forwarder_listen, [{port, 1680}]},
    % HTTP port for web-administration and REST API
    {http_admin_listen, [{port, 8080}]},
    % HTTP/SSL port
    % {http_admin_listen_ssl, [
    %     {port, 8443},
    %     {certfile, "cert.pem"},
    %     {keyfile, "key.pem"}
    % ]},
    % default username and password for the admin interface
    {http_admin_credentials, {<<"admin">>, <<"admin">>}},
    % amount of rxframes retained for each device/node
    {retained_rxframes, 50},
    % websocket expiration if client sends no data
    {websocket_timeout, 3600000} % ms
]},
% error logging settings
{lager, [
    {colored, true},
    % uncomment to display even a high number of messages per second
    % see https://github.com/erlang-lager/lager#overload-protection
    % {error_logger_hwm, undefined},
    {handlers, [
        % {lager_console_backend, debug},
        {lager_file_backend, [{file, "log/debug.log"}, {level, debug}]},
        {lager_file_backend, [{file, "log/error.log"}, {level, error}]}
    ]}
]},
{sasl, [
    {errlog_type, error}
]}].
