{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lorawan_server_api, {git, "https://github.com/gotthardp/lorawan-server-api.git", {branch, "master"}}},
    {lager, {git, "git://github.com/basho/lager.git", {tag, "3.2.4"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.0"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy", {branch, "master"}}},
    {iso8601, {git, "https://github.com/erlsci/iso8601.git", {tag, "1.2.2"}}}
]}.

{post_hooks, [
    {compile, "npm install --save"},
    {compile, "cp node_modules/jquery/dist/jquery.min.js priv/admin"},
    {compile, "cp node_modules/ng-admin/build/ng-admin.min.js priv/admin"},
    {compile, "cp node_modules/angular-simple-logger/dist/angular-simple-logger.min.js priv/admin"},
    {compile, "cp node_modules/angular-google-maps/dist/angular-google-maps.min.js priv/admin"},
    {compile, "cp node_modules/angular-google-chart/ng-google-chart.min.js priv/admin"},
    {compile, "cp node_modules/ng-admin/build/ng-admin.min.css priv/admin"}
]}.

{artifacts, [
    "priv/admin/jquery.min.js",
    "priv/admin/ng-admin.min.js",
    "priv/admin/angular-simple-logger.min.js",
    "priv/admin/angular-google-maps.min.js",
    "priv/admin/ng-google-chart.min.js",
    "priv/admin/ng-admin.min.css"
]}.

{relx, [
    {release, {'lorawan-server', "0.2.0"},
        [lorawan_server]},
    {sys_config, "lorawan_server.config"},
    {dev_mode, false},
    {include_src, false},
    {include_erts, false},
    {system_libs, false},
    {generate_start_script, false},
    {overlay, [
        {copy, "scripts/lorawan-server", "bin/lorawan-server"}
    ]}
]}.
