{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, {git, "git://github.com/basho/lager.git", {branch, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.0"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy", {branch, "master"}}}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", compile, "npm install --prefix=priv/admin"},
    {"win32", compile, "cd priv/admin && npm install"}
]}.

{relx, [
    {release, {'lorawan-server', "0.1.0"},
        [lorawan_server]},
    {sys_config, "lorawan_server.config"},
    {dev_mode, false},
    {include_src, false},
    {include_erts, false},
    {system_libs, false},
    {extended_start_script, true}
]}.
