[Unit]
Description=LoRaWAN Server
After=network.target

[Service]
Type=forking
ExecStart=/usr/lib/lorawan-server/bin/lorawan-daemon

[Install]
WantedBy=multi-user.target
